# @package _global_

# specify here default training configuration
defaults:
  - datamodule: default.yaml

  # null means avaiable for overwrite later
  # can also set logger here or use command line (e.g. `python run.py logger=wandb`)
  - callbacks: null 
  - logger: null 

  - experiment: null
  - hparams_search: null

  - hydra: default.yaml

  # enable color logging
  - override hydra/hydra_logging: colorlog
  - override hydra/job_logging: colorlog

# pretty print config at the start of the run using Rich library
print_config: True

# disable python warnings if they annoy you
ignore_warnings: True
